<!DOCTYPE html>
<html lang="en" >
{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
{{ bootstrap.load_css() }}
<style type="text/css">
    .indexlogo{
        width: 120px;
        height: 30px;
        margin-bottom: 5px;
    }
    li{
        padding: 1rem;
        border-top: 1px solid white;
    }
     p{
    text-indent: 2em;
  }
     img{
         width:100%
     }
     #menus{
         width:80%
     }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bueatylife</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style>

    </style>
</head>
<body class="bg-light container">

<div class="offcanvas offcanvas-start navbar-toggler bg-light" id="menus">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title text-light mx-auto"></h3>
            <button type="button" class="btn btn-light text-secondary" data-bs-dismiss="offcanvas" style="font-size: 2em"><</button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                {% if current_user.admin > 0 %}
                <li class='nav-item'><a class="nav-link" href="{{ url_for('settings') }}">账户设置</a></li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('edit') }}">运行设置</a></li>
                <li class='nav-item'><a class="nav-link" href="{{url_for('orders')}}">交易情况</a></li>
                <li class='nav-item'><a class="nav-link" href="{{url_for('usermanage')}}">用户管理</a></li>
                {% else %}
                <li class='nav-item'><a class="nav-link" href="{{ url_for('settings') }}">账户设置</a></li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('edit') }}">运行设置</a></li>
                <li class='nav-item'><a class="nav-link" href="{{url_for('orders')}}">交易情况</a></li>
                {% endif %}
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#plan1">模式一（有交易账户）</a>
                    <ul class="collapse bg-light border-0" id="plan1">
                        <li><a class="dropdown-item" href="{{url_for('binan')}}">币安|bianace</a></li>
                        <li><a class="dropdown-item" href="{{url_for('okex')}}">欧易|okex</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#plan2">模式二（无交易账户）</a>
                    <ul class="collapse bg-light border-0" id="plan2">
                        <li><a class="dropdown-item" href="{{url_for('public')}}">公共账户托管</a></li>
                        <li><a class="dropdown-item" href="{{url_for('subacc')}}">使用子账户</a></li>
                    </ul>
                </li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('explain') }}">说明</a></li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('demo') }}">示范案例</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
<div class=" sticky-top container bg-white mb-1">
<nav class="navbar navbar-expand-lg navbar-light mx-4 ">
    <div class="flex-grow-1" style="">
        <a href="{{ url_for('index') }}">
            <img class="indexlogo" src="../static/images/home.gif" alt="">
        </a>
    </div>
    <span class="navbar-toggler-icon navbar-toggler navbar-highlight mx-3" data-bs-toggle="offcanvas" data-bs-target="#menus"></span>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
       <ul class="navbar-nav">
                {% if current_user.is_authenticated %}

                <li class='nav-item'><a class="nav-link" href="{{ url_for('settings') }}">账户设置</a></li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('edit') }}">运行设置</a></li>
                <li class='nav-item'><a class="nav-link" href="{{url_for('orders')}}">交易情况</a></li>
                <li class='nav-item'><a class="nav-link" href="{{url_for('usermanage')}}">用户管理</a></li>

                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#plan3">模式一（有交易账户）</a>
                    <ul class="collapse bg-light border-0" id="plan3">
                        <li><a class="dropdown-item" href="{{url_for('binan')}}">币安|bianace</a></li>
                        <li><a class="dropdown-item" href="{{url_for('okex')}}">欧易|okex</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#plan4">模式二（无交易账户）</a>
                    <ul class="collapse bg-light border-0" id="plan4">
                        <li><a class="dropdown-item" href="{{url_for('public')}}">公共账户托管</a></li>
                        <li><a class="dropdown-item" href="{{url_for('subacc')}}">使用子账户</a></li>
                    </ul>
                </li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('explain') }}">说明</a></li>
                <li class='nav-item'><a class="nav-link" href="{{ url_for('demo') }}">示范案例</a></li>
                {% endif %}
            </ul>
    </div>

    {% if current_user.is_authenticated %}
    <a type="button" class="btn btn-primary btn-sm " href="{{ url_for('logout') }}">退 出</a>
    {% else %}
    <a type="button" class="btn btn-primary btn-sm " href="{{ url_for('login') }}">登 录</a>
    {% endif %}

</nav>
</div>
<main class="container">
    {{ render_messages(container=False, dismissible=True) }}
</main>

{% block content %}{% endblock %}
</body>
<footer class="text-center">
    {% block footer %}

    <small>Copyright &copy; 2021–
        <script>document.write(new Date().getFullYear())</script>
        <a href="https://mail.aliyun.com/">sxsuper@aliyun.com</a>
    </small>
    {% endblock %}
</footer>

{{ bootstrap.load_js() }}
{% block script %}{% endblock %}
</html>
