<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kevin's autorobot</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <div style="width: 100%;display: flex">
        <img style="width: 50px;height: 50px;margin-top:10px;margin-left: 15px" alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/BTC.png') }}">
        {% if current_user.is_authenticated %}
        <h2 style="color: #dddd00;margin-left: 20px">
                {{ current_user.name }} 的自动机器人
        </h2>
        {% else %}
        <h2 style="padding-top: 10px; color: #dddd00">
                欢迎来到智能交易程序
        </h2>
        {% endif %}
    </div>
    <nav>
        <ul>

            {% if current_user.is_authenticated %}
                {% if current_user.admin != 0 %}
                <li><a href="{{ url_for('index') }}">教程</a></li>
                <li><a href="{{ url_for('settings') }}">设置</a></li>
                <li><a href="{{ url_for('logout') }}">登出</a></li>
                <li><a href="{{url_for('orders')}}">交易情况</a></li>
                <li><a href="{{url_for('usermanage')}}">用户管理</a></li>
                {% else %}
                <li><a href="{{ url_for('index') }}">教程</a></li>
                <li><a href="{{ url_for('settings') }}">设置</a></li>
                <li><a href="{{ url_for('logout') }}">登出</a></li>
                <li><a href="{{url_for('orders')}}">交易情况</a></li>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('index') }}">教程</a></li>
                <li><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2021   Zqkevin.P</a></small>
	</footer>
</body>
</html>
