<style type="text/css">
    .row {
        background-color: white;
        border-bottom-color: #555555;
        border-bottom: 5px;
        margin: 10px;
    }
</style>
{% extends 'base.html' %}
{% block content %}
<div class="text-primary" style="min-height: 100px; margin-top: 1em">
<h5 class="ms-auto mt-1 ">市场现价（USD）：</h5>
  <table class="table">
    <thead>
      <tr style="font-size: 0.9em">
        <th>货币：</th>
        <th>升跌幅：</th>
        <th>最高价：</th>
        <th>最低价：</th>
        <th>价格：</th>
      </tr>
    </thead>
    <tbody style="font-size: 0.8em">
    {% if mk %}
    {% for mtick in mk %}
    {% if mtick['priceChangePercent'] > 0 %}
    <tr style="color: brown">
    {% else %}
    <tr style="color: darkolivegreen">
    {% endif %}
        <td>{{mtick['symbol']}}</td>
        <td>{{mtick['priceChangePercent'] }}%</td>
        <td>{{mtick['highPrice']}}</td>
        <td>{{mtick['lowPrice']}}</td>
        <td>{{mtick['lastPrice']}}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>

  </table>
</div>
<div class="m-2 p-3 rounded-3 border border-1 border-muted ">
    <form method="POST" class=" bd-highlight d-flex">
        <input type="date" name="sdate"  required>
        <button type="submit" class="ms-auto btn btn-outline-primary" formaction="{{url_for('demo')}}?set=1">查询</button>
    </form>
</div>

<div class="m-2 p-3 rounded-3 border border-1 border-muted ">
    {% if mfig %}
    <p class="h5">{{month}}月统计</p>
    <div class="row">
        <div class="">月盈亏为：{{mfig|round(2)}} USDT</div>
    </div>
    {% else %}
    <div>本月无交易</div>
    {% endif %}
</div>
<div class="m-2 p-3 rounded-3 border border-1 border-muted ">
    {% if info %}
    <p class="h5">{{info[0]['ordertime'][6]}}月{{info[0]['ordertime'][8:10]}}日统计</p>
    <div class="row">
        <div class="col">账户: {{coun}} USDT</div>
    </div>
    <div class="row">
        <div class="col">持仓量: {{info[0].pos_ccl}}</div>
        <div class="col-7">持仓价: {{info[0].pos_ccj}}</div>
    </div>
    <div class="row">
        <div class="col">总交易：{{info|length}} 笔</div>
        <div class="col-7">盈亏为：{{figsum|round(2)}} USDT</div>
    </div>
    {% else %}
    <div>本日无交易</div>
    {% endif %}
</div>

{% if info %}
<table class="table" align="center">
    <thead>
    <tr class="table-secondary">
        <th class="col-3">交易时间</th>
        <th class="col-2">价格</th>
        <th class="col-2">方向</th>
        <th class="col-3">交易量</th>
        <th class="col-2">盈亏</th>
    </tr>
    </thead>

    {% if info %}
    {% for mtick in info %}
    {% if mtick.side == 'BUY' or mtick.side == 'buy' %}
        <tr class="table-info">
    {% else %}
        <tr class="">
    {% endif %}
    <td>{{mtick.ordertime[11::]}}</td>
    <td>{{mtick.avgprice }}</td>
    <td>{{mtick.side}}</td>
    <td>{{mtick.origqty}}</td>
    {% if mtick.fig < 0 %}
        <td class="table-danger">{{mtick.fig|round(2)}}</td>
    {% else %}
        <td class="table-success">{{mtick.fig|round(2)}}</td>
    {% endif %}
    </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endif %}
{% endblock %}
