{% extends 'base.html' %}

{% block content %}
<p class="d4 mt-5">运行设置:</p>
<div class="m-4 p-3 rounded-3 border border-1 border-primary shadow ">
    <form method="POST" class="">
        <div class="row d-flex justify-content-center mx-3">
            <label for="touru" class="form-label mt-4">设置杠杆倍数(1-20)：</label>
            <input type="text" class="form-control" id="touru" placeholder="现在是'{{usertouru}}'倍" value="{{usertouru}}" name="touru">
            <label for="fengxian" class="form-label mt-4">设置止损比例(1-10)</label>
            <input type="text" class="form-control" id="fengxian" placeholder="现在为{{userfengxian}}" value="{{userfengxian}}" name="fengxian">
        </div>
        <div class="row mt-4">
            <div class=" d-flex flex-row-reverse w-100 ">
                <button type="submit" class="btn btn-primary" formaction="{{url_for('edit')}}?set=1">修改</button>
            </div>
        </div>
    </form>
</div>
<div class="m-4 p-3 rounded-3 border border-1 border-primary shadow ">
    <form method="POST">
        {% if run == 1 %}

        <div class="row w-100 ">
            <span class="spinner-grow text-success mx-5" style="width: 2em; height: 2em"></span>
            <h3 class="col">正在运行中..</h3>
        </div>
        <div class="row mt-4">
            <div class=" d-flex flex-row-reverse w-100 ">
                <button type="submit" class="btn btn-primary" formaction="{{url_for('edit')}}?set=2" name="zt"
                        value="stop">停止
                </button>
            </div>
        </div>

        {% else %}
        <div class="row w-100 ">
            <span class="spinner-border text-danger mx-5" style="width: 2em; height: 2em"></span>
            <h3 class="col">已经停止运行</h3>
        </div>
        <div class="row mt-4">
            <div class=" d-flex flex-row-reverse w-100 ">
                <button type="submit" class="btn btn-primary" formaction="{{url_for('edit')}}?set=2" name="zt"
                        value="run">开始
                </button>
            </div>
        </div>

        {% endif %}
    </form>
</div>
<script type="text/javascript">


</script>
{% endblock %}
