{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-4 mb-1 bg-light">
    <p>把资金放在自己的欧易现货账户上，通过生成API KEY密匙，使用本交易模型自动对账户上的资金进行增资交易。<br>
    交易模型只对账户资金进行交易，并无转出功能权限，如停止运行，需手动对持仓进行处理。
    </p>
    <p class="h5">交易情况</p>
    <p>本交易模型为高频，小幅度交易，平均每日交易为100笔以上，可打开菜单栏，点击“交易情况”查看</p>
    <p class="h5">收益预估</p>
    <p>在无杠杆的情况下，每月的收益可达到资金额的2-4%。<br>
        根据市场实际情况，每笔交易有盈利，亏损，通过模型控制交易金额和数量，平均盈利会大于亏损。<br>
        收益为平均收益额，根据市场的实际变化而定。最终收益为所有的盈利-亏损</p>
    <p class="display-6 text-center">操作步骤：</p>
    <p class="h5 dropdown-toggle"  data-bs-toggle="collapse" data-bs-target="#api">一、设置API</p>
    <div id="api" class="collapse">
        <img src="../static/images/okexapi1.gif" alt="bianapi">
        <p>打开<a href="https://www.ouyicn.photo/join/12043196">欧易官网</a>，登录后，鼠标移动到右上角个人账户上，在弹出窗口中点击“API”</p>
        <p>点击”申请V5 API“</p>
        <img src="../static/images/okexapi2.gif" alt="bianapi">
        <p>1、点击交易权限，然后设置密码，输入平台验证后，点击确认</p>
        <p>2、记录下API Key 和 Secret Key,用于绑定账户到交易模型</p>
        <p>3、点击保存即可，<mark>Secret Key之后无法看到，所以必须先记录再保存</mark></p>
    </div>

    <p class="h5 dropdown-toggle"  data-bs-toggle="collapse" data-bs-target="#set">二、绑定账户</p>
    <div id="set" class="collapse">
        <img src="../static/images/set1.gif" alt="set1">
        <p>打开右上角菜单，在弹出窗口中点击“账户设置“”</p>
        <img src="../static/images/set2.gif" alt="set2">
        <p>选择对应的平台，一个账户只能选择一个平台绑定，重复绑定只有最后一个生效</p>
        <p>输入在平台上记录的APIKEY，和Secretkey。</p>
        <p>passphrase是在平台申请API时候设定的密码</p>
        <p>点击绑定，系统自动对接平台进行测试，如果正确则绑定成功</p>
    </div>
    <p class="h5 dropdown-toggle"  data-bs-toggle="collapse" data-bs-target="#run">三、开始运行</p>
    <div id="run" class="collapse">
        <img src="../static/images/run.gif" alt="bianapi">
        <p>打开右上角菜单，在弹出窗口中点击“运行设置”</p>
        <p>杠杆倍数可设置1-20，普通会员锁定2，高级会员可设定1-10</p>
        <p>杠杆是指对账户资金放大N倍进行交易，收益也为每月2%-5%的N倍，可带来更高收益，但同时损失风险也增大。详细点击“说明”</p>
        <p>止损比例是指启动风险控制机制的触发系数，1-10，数值越大风险越低。普通会员不能调整</p>
        <p>运行状态显示是否在对绑定的账户进行自动交易，可点击“运行”开始。点击“停止”停止自动操作，账户余额和持仓需会员手动处理</p>
    </div>

</div>
{% endblock %}
