{% extends 'base.html' %}
{% block content %}
<form name="ordervalue" style="margin-bottom: 10px; width: 90%; color: white" method="POST">
    <fieldset>
        <legend>订单交易信息</legend>
        <input type="date" name="sdate" required>
        <button type="submit" formaction="{{url_for('orders')}}" style="margin-left:100px">查询</button>
    </fieldset>
</form>
{% if info %}
<div style="display: flex; justify-content: space-between;padding: 10px;color: #d5f7ff">
    <div style="width: 20%; font-size: 20px">账户信息</div>
    <table style="width: 80%; font-size: 15px">
        <tr>
            <td>资金总额:</td>
            <td>{{info[0].amount}}  USDT</td>
        </tr>
        <tr>
            <td>持仓量:</td>
            <td>{{info[0].pos_ccl}}  ETH</td>
            <td>持仓价:</td>
            <td>{{info[0].pos_ccj}} ETH/USDT</td>
        </tr>
    </table>
</div>
{% else %}
<div style="display: flex; justify-content: space-between;padding: 10px;color: #d5f7ff">
    <div style="width: 20%;;font-size: 20px">账户信息</div>
    <table style="width: 80%">
        <tr>
            <td>资金总额:</td>
            <td>0  USDT</td>
        </tr>
        <tr>
            <td>持仓量:</td>
            <td>0  ETH</td>
            <td>持仓价:</td>
            <td>0 ETH/USDT</td>
        </tr>
    </table>
</div>
{% endif %}
<table width="100%" align="center">
    <tr class="titfont">
        <th>本日总交易{{coun}}次</th>
        <th></th>
        <th></th>
        <th>本日盈亏为:</th>
        <th>{{figsum}} USDT</th>
    </tr>
    <tr class="titfont">
        <th>交易时间</th>
        <th>交易价格</th>
        <th>交易方向</th>
        <th>交易量</th>
        <th>盈亏</th>
    </tr>
    {% if info %}
    {% for mtick in info %}
    {% if mtick.fig < 0 %}
    <tr class="tabtxt1">
    {% else %}
    <tr class="tabtxt">
    {% endif %}
        <td>{{mtick.ordertime }}</td>
        <td>{{mtick.avgprice }}</td>
        <td>{{mtick.side}}</td>
        <td>{{mtick.origqty}}</td>
        <td>{{mtick.fig}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}
