{% extends 'base.html' %}
{% block content %}
<form name="quire" style="width: 95%; color: white" method="POST">
    <fieldset>
        <legend>订单查询</legend>
        <input type="date" name="sdate" required>
        <button type="submit" formaction="{{url_for('orders')}}?set=1" style="margin-left:100px">查询</button>
    </fieldset>
</form>
<form name="ordervalue" style="width: 95%; color: white" method="POST">
    {% if info %}
    <fieldset>
        <legend style="font-size: 15px">账户信息: {{coun}} USDT</legend>
        <table style="width: 100%; font-size: 13px">
        <tr>
            <td>浮动盈亏:</td>
            <td>{{info[0].acc_wsx}} USDT</td>

        </tr>
        <tr>
            <td>持仓量:</td>
            <td>{{info[0].pos_ccl}} ETH</td>
            <td>持仓价:</td>
            <td>{{info[0].pos_ccj}} </td>
        </tr>
        </table>
    </fieldset>
    {% else %}
    <fieldset>
        <legend>账户信息: 总额 0</legend>
        <table style="width: 100%">
        <tr>
            <td>资金总额:</td>
            <td>0  USDT</td>
        </tr>
        <tr>
            <td>持仓量:</td>
            <td>0  ETH</td>
            <td>持仓价:</td>
            <td>0 ETH/USDT</td>
        </tr>
        </table>
    </fieldset>
    {% endif %}
    <div style="display: flex; justify-content:space-between; margin-top: 10px;width: 80%">
    {% if run == 1 %}
        <div style="display: flex">
        <i style="width: 20px; height: 20px; border-radius: 50%;background-color: green;display: block;margin-top: 10px"></i>
        <h3 style="margin-left: 10px;margin-bottom: 10px">正在运行中..</h3>
        </div>
        <button type="submit" formaction="{{url_for('orders')}}?set=2" style="margin-top: 10px;height: 25px" name="zt" value="stop">停止</button>
    {% else %}
        <div style="display: flex">
        <i style="width: 20px; height: 20px; border-radius: 50%;background-color: red;display: block;margin-top: 10px"></i>
        <h3 style="margin-left: 10px">已经停止运行</h3>
        </div>
        <button type="submit" formaction="{{url_for('orders')}}?set=2" style="margin-top: 10px;height: 25px" name="zt" value="run">开始</button>
    {% endif %}
    </div>

</form>
{% if info %}
<table width="100%" align="center">
    <tr class="titfont">
        {% if info %}
        <th>本日总交易{{info|length}}次</th>
        {% else %}
        <th>本日总交易 次</th>
        {% endif %}
        <th></th>
        <th>本日盈亏为:</th>
        <th>{{figsum|round(2)}} USDT</th>
    </tr>
    <tr class="titfont">
        <th>交易时间</th>
        <th>交易价格</th>
        <th>交易方向</th>
        <th>交易量</th>
        <th>盈亏</th>
    </tr>
    {% if info %}
    {% for mtick in info %}
    {% if mtick.fig < 0 %}
    <tr class="tabtxt1">
    {% else %}
    <tr class="tabtxt">
    {% endif %}
        <td>{{mtick.ordertime }}</td>
        <td>{{mtick.avgprice }}</td>
        <td>{{mtick.side}}</td>
        <td>{{mtick.origqty}}</td>
        <td>{{mtick.fig}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endif %}
{% endblock %}
