
{% extends 'base.html' %}
{% block content %}
<div class="m-4 p-3 rounded-3 border border-1 border-primary shadow">
    <form method="POST">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="请输入原密码" name="opswd" required>
            </div>
            <div class="col">
                <input type="password" class="form-control" placeholder="请输入新密码" name="npswd" required>
            </div>
        </div>
        <div class="row mt-2">
            <div class=" d-flex flex-row-reverse w-100 ">
            <button type="submit" class="btn btn-primary" formaction="{{url_for('settings')}}?set=1">修改密码</button>
            </div>
        </div>

    </form>
</div>
<div class="m-4 p-3 rounded-3 border border-1 border-primary shadow">
    <form method="POST">
        <div class="row">
            <label for="sel1" class="form-label">选择平台(okex,暂时不可选）:</label>
            <select class="form-select" id="sel1" name="ptchance" onclick="passp(value)">
                <option value="bianace" selected="selected">Bianace</option>
                <option value="okex" disabled>Okex</option>
            </select>
        </div>
        <div class="row m-2 p-3 rounded-3 border border-1 border-secondary">
            <label for="apikey" class="form-label">Apikey:</label>
            <input type="text" class="form-control" id="apikey" placeholder="请输入Apikey" name="apikey">
            <label for="secrekey" class="form-label">Secretkey:</label>
            <input type="text" class="form-control" id="secrekey" placeholder="请输入Secretkey" name="secrekey">
            <label class="form-label">Passphrase:</label>
            <input type="text" class="form-control invisible"  placeholder="输入passphrase" name="passphrase">

        </div>
        <div class="row mt-2">
            <div class=" d-flex flex-row-reverse w-100 ">
                <button type="submit" class="btn btn-primary" formaction="{{url_for('settings')}}?set=2">绑定</button>
            </div>
        </div>
    </form>
</div>



<script type="text/javascript">
    function passp(a) {
        if (a == 'okex') {
            document.getElementById('passphrase').className = "visible form-control"
        } else {
            document.getElementById('passphrase').className = " invisible form-control"
        }
    }
</script>

{% endblock %}
