{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>it's test</title>
</head>
<body>
{% if current_user.is_authenticated %}
    <h1 style="color: #ffffd5">Hi {{ current_user.name }}!</h1>
    <h1 style="color: #ffffd5">userid = {{current_user.id}}</h1>
{% else %}
   <h1 style="color: #00dd00">未登录</h1>
    <h2 style="color: #00cc00">a = {{a}}</h2>

{% endif %}
<div style="display: flex; flex-direction: row;flex-wrap: wrap; width: 500px; height: 500px;background-color: #ffffd5">
    <div style="display:flex; width: 300px; height: 200px; flex-direction: row; background-color: red">
        <div style="width: 100px; height: 100px; background-color: yellow"></div>
        <div style="width: 100px; height: 100px; background-color: blue"></div>
    </div>
    <div style="width: 100px; height: 100px; background-color: #4b1818"></div>
    <div style="width: 100px; height: 100px; background-color: #0f3a42"></div>
    <div style="width: 100px; height: 100px; background-color: #177199"></div>

</div>
</body>
</html>
{% endblock %}
