{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    form{
        width: 95%;
        color: white;
        display: flex;
        justify-content: right;
    }
    fieldset{
        padding: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    legend{
        color: lightyellow;

    }
    div{
        margin-top: 10px;
    }
    input{
        width: 50%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>it's test</title>
</head>
<body style="color: white">
<form method="POST">
<fieldset>
    <legend>所属账户</legend>
    {% for a in webuser %}

        <button type="submit" formaction="{{url_for('usermanage')}}?flag=1" name="userid" value="{{a.id}}">{{a.name}}</button>
    {% endfor %}

</fieldset>
</form>
{% if order %}
<form method="POST">
<fieldset>
        <legend style="font-size: 15px">账户: {{order.name}} 总额: {{order.amount}} USDT</legend>
        <table style="width: 100%; font-size: 13px">
            <tr>
                <td>更新时间:</td>
                <td>{{order.ordertime}}</td>

            </tr>
            <tr>
                <td>浮动盈亏:</td>
                <td>{{order.acc_wsx}} USDT</td>
                <td>市场价:</td>
                <td>{{order.avgprice}}</td>
            </tr>
            <tr>
                <td>持仓量:</td>
                <td>{{order.pos_ccl}} ETH</td>
                <td>持仓价:</td>
                <td>{{order.pos_ccj}} </td>
            </tr>
        </table>
</fieldset>
    <button type="submit" style="width: 20%; margin-left: 70%" formaction="{{url_for('usermanage')}}?flag=2" name="userid" value="{{order.userid}}">删除</button>
</form>
{% else %}
<form method="POST">
<h2>该账户近期没有运行</h2>
<button type="submit" style="width: 20%; margin-left: 70%" formaction="{{url_for('usermanage')}}?flag=2" name="userid" value="{{userid}}">删除</button>
</form>
{% endif %}
<form method="POST">
<fieldset style="flex-flow: column">
    <legend>增加用户</legend>
    <div>用户名</div>
    <input type="text" name="name" required>
    <div>登录名</div>
    <input type="text" name="username" required>
    <div>密码</div>
    <input type="text" name="password" required>
    <button style="margin-top: 10px; width: 20%" type="submit" formaction="{{url_for('usermanage')}}?flag=3" >添加用户</button>
</fieldset>
</form>
</body>
</html>
{% endblock %}
